<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- CSS 파일 -->
<!-- cssFragment(~{::title},~{::link}) -->
<th:block th:replace="include/head :: cssFragment"></th:block>

<body>
    <div id="app">
         <!-- 공통 sidebar -->
        <th:block th:replace="include/sidebar :: sidebarFragment"></th:block>
        <!-- main -->
        <div id="main" class='layout-navbar'>
            <!-- header -->
            <th:block th:replace="include/header :: headerFragment"></th:block>
            <div class="row justify-content-md-center">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <form action="#">
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                        <input type="text" class="form-control" name="ser" placeholder="Recipient's username">
                      </div>
                    </form>
                </div>
            </div>
            <div id="main-content">
                <!-- content -->
                <th:block layout:fragment="content"></th:block>
                <!-- footer -->
                <th:block th:replace="include/footer :: footerFragment"></th:block>
            </div>
        </div>
        <!-- script -->
        <th:block th:replace="include/script :: scriptFragment"></th:block>
    </div>
</body>
</html>
