<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title>검색 결과</title>
    <style>
        .page-heading {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    </style>
</head>
<th:block layout:fragment="content">
    <!-- content -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">메세지</h4>
            </div>
            <div class="card-body">
                <h6>검색어 입력은 필수 입니다. 검색어를 입력해주세요.</h6>
            </div>
        </div>
    </section>
</th:block>

</html>