<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="headerFragment">

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
                </ul>
                <th:block sec:authorize="isAuthenticated()" th:with="auth=${userinfo}">
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="user-menu d-flex">
                                <div class="user-img d-flex align-items-center me-3">
                                    <div class="avatar avatar bg-primary">
                                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                            class="rounded-circle">
                                    </div>
                                </div>
                                <div class="user-name text-end">
                                    <h6 th:text="${userinfo.name}" class="mb-0 text-gray-600">유저 이름</h6>
                                    <span th:text="${userinfo.roles.title}" class="mb-0 text-sm text-gray-600">유저
                                        등급
                                    </span>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownMenuButton">
                            <li>
                                <h6 th:text="'Hello, ' + ${userinfo.name}" class="dropdown-header">유저 이름</h6>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/account/mypage}"><i
                                        class="icon-mid bi bi-person me-2"></i> 내
                                    정보</a></li>
                            <li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-gear me-2"></i>
                                    Settings</a></li>
                            <li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-wallet me-2"></i>
                                    Wallet</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/account/logout"><i
                                        class="icon-mid bi bi-box-arrow-left me-2"></i>
                                    Logout</a></li>
                        </ul>
                    </div>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <div class="dropdown">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="user-menu d-flex">
                                <div class="user-img d-flex align-items-center">
                                    <div class="avatar avatar-md">
                                        <img src="/assets/images/faces/9.jpg">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <li>
                                <h6 class="dropdown-header">Hello Guest</h6>
                            </li>
                            <li><a class="dropdown-item" href="/account/login"><i
                                        class="icon-mid bi bi-box-arrow-left me-2"></i>
                                    Login</a></li>
                            <li><a class="dropdown-item" href="/account/register"><i
                                        class="icon-mid bi bi-box-arrow-left me-2"></i>
                                    Register</a></li>
                        </ul>
                    </div>
                </th:block>
            </div>
        </div>
    </header>
</th:block>

</html>