<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="searchFragment">
    <div class="row justify-content-md-center">
        <form id='searchForms' th:action="@{/wine}" method="get" accept-charset="utf-8">
            <input type='hidden' id="attr" name='attr' th:value='${search} ? ${search.attr}'>
            <input type='hidden' id="colour" name='colour' th:value="${search} ? ${search.colour}">
            <input type='hidden' id="subType" name='subType' th:value="${search} ? ${search.subType}">
            <input type='hidden' id="alcohol" name='alcohol' th:value="${search} ? ${search.alcohol}">
            <input type='hidden' id="country" name='country' th:value="${search} ? ${search.country}">
            <input type='hidden' id="query" name='query' th:value="${search} ? ${search.query}">
            <input type='hidden' id='page' name='page' th:value='1'>
        </form>


        <div class="modal" id="searchmodal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">상세 조건 검색</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <form class="input-group mb-3">
                            <label class="shadow-sm btn btn-secondary" for="queryInfoName"><b>검색어</b></label>
                            <input type="text" class="form-control" name='queryInput' id="queryInfoName"
                                autocomplete="off" th:value="${search != null} ? ${search.query}" placeholder="영문명 또는 한글명">
                        </form>
                        <div class="input-group mb-2" data-toggle="buttons">
                            <label class="shadow-sm input-group-text"><b>검색 조건</b></label>
                            <input type="radio" class="btn-check" name="attr" id="attrOption1" autocomplete="off"
                                value="producerName"
                                th:checked="${search != null && search.attr == 'producerName'} ? ${true}">
                            <label class="shadow-sm btn btn-outline-success" for="attrOption1">생산자</label>
                            <input type="radio" class="btn-check" name="attr" id="attrOption2" autocomplete="off"
                                value="contents" th:checked="${search != null && search.attr == 'contents'} ? ${true}">
                            <label class="btn btn-outline-success" for="attrOption2">내용</label>
                        </div>
                        <div class="input-group mb-2">
                            <label class="shadow-sm input-group-text"><b>와인 색상</b></label>
                            <input type="radio" class="btn-check" name="colour" id="colourOption1" autocomplete="off"
                                value="red" th:checked="${search != null && search.colour == 'red'} ? ${true}">
                            <label class="shadow-sm btn btn-outline-success" for="colourOption1">레드</label>
                            <input type="radio" class="btn-check" name="colour" id="colourOption2" autocomplete="off"
                                value="white" th:checked="${search != null && search.colour == 'white'} ? ${true}">
                            <label class="btn btn-outline-success" for="colourOption2">화이트</label>
                            <input type="radio" class="btn-check" name="colour" id="colourOption3" autocomplete="off"
                                value="rose" th:checked="${search != null && search.colour == 'rose'} ? ${true}">
                            <label class="btn btn-outline-success" for="colourOption3">로제</label>
                        </div>
                        <div class="input-group mb-2">
                            <label class="shadow-sm input-group-text"><b>와인 종류</b></label>
                            <input type="radio" class="btn-check" name="subType" id="typeSubOption1" autocomplete="off"
                                value="sparkling"
                                th:checked="${search != null && search.subType == 'sparkling'} ? ${true}">
                            <label class="btn btn-outline-success" for="typeSubOption1">스파클링</label>
                            <input type="radio" class="btn-check" name="subType" id="typeSubOption2" autocomplete="off"
                                value="port" th:checked="${search != null && search.subType == 'port'} ? ${true}">
                            <label class="btn btn-outline-success" for="typeSubOption2">포트</label>
                        </div>
                        <!-- <div class="input-group mb-2">
                            <label class="input-group-text"><b>알콜 범위</b></label>
                            <input type="radio" class="btn-check" name="alcohol" id="alcoholOption1" autocomplete="off"
                                value="0+10">
                            <label class="btn btn-outline-success" for="alcoholOption1">0~10</label>
                            <input type="radio" class="btn-check" name="alcohol" id="alcoholOption2" autocomplete="off"
                                value="10+15">
                            <label class="btn btn-outline-success" for="alcoholOption2">10~15</label>
                            <input type="radio" class="btn-check" name="alcohol" id="alcoholOption2" autocomplete="off"
                                value="15+20">
                            <label class="btn btn-outline-success" for="alcoholOption2">15~</label>
                        </div> -->
                        <!-- 나라 처리 .-->
                        <div class="input-group mb-2">
                            <label class="shadow-sm input-group-text"><b>나라 </b></label>
                            <input type="text" class="form-control" id="countryInput" autocomplete="off" name="country"
                                th:value="${search} ? ${search.country}">
                            <!-- <input type="text" class="form-control" name="queryInput" id="queryInput"
                                th:value="${search != null} ? ${search.query}" placeholder="" autocomplete="off"> -->
                        </div>
                        <button class="shadow-sm btn btn-primary" type="button" id="none">초기화</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="modalInputCheck" >확인</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-md-6 col-sm-12">
            <form class="input-group mb-3">
                <label class="shadow-sm input-group-text" for="queryInput"><b>검색어</b></label>
                <input type="text" class="shadow-sm form-control" id="queryInput" name="queryInput"
                    th:value="${search != null} ? ${search.query}" autocomplete="off" placeholder="영문명 또는 한글명">
                <button type="button" class="shadow-sm btn btn-success input-group-text" data-bs-toggle="modal"
                    data-bs-target="#searchmodal">상세</button>
            </form>
            <div class="col-md-auto">
                <div th:if="${search != null}" class="row justify-content-center" id="searchSpanList">
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript" type="module">  //type을 module로 해야만 해당 코드가 동작한다.
        import { SearchInfoController } from '/js/module.js';
        SearchInfoController()
    </script>
</th:block>