<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title>테이스팅 노트</title>
    <link rel="stylesheet" href="/assets/css/pages/stat.css">
</head>
<th:block layout:fragment="content">

    <body>
        <div class="page-heading">
            <div class="page-title">
                <div class="col-12 mt-4 order-md-1 order-last text-center">
                    <h2>Tasting Notes</h2>
                    <p class="text-subtitle text-muted">입력하세요</p>
                </div>
            </div>
            <th:block th:with="info=${wineInfo}">
                <div class="col-sm-12">
                    <span th:data-columns="${info.wineId}"></span>
                    <div class="row g-0">
                        <div class="card box-shadow shadow-lg mx-auto my-4 bg-light" style="width: 23rem;">
                            <img src="/assets/images/samples/krug.jpg" class="card-img-top" alt="...">
                            <div class="card-text bg-white card-img-bottom">
                                <div class="card-body">
                                    <!-- 타이틀 -->
                                    <h5 class="card-title-3 text-dark" th:text="${info.displayName}"></h5>
                                    <h6 class="card-sub-title" th:text="${info.displayNameKo}"></h6>
                                    <hr>
                                    <p class="card-text text-black bg-light shadow-sm py-2 px-2">
                                        <!-- 생산자 -->
                                        <i class="fa-solid fa-house my-2 mx-2 fa-fw" style="color: forestgreen;"></i>
                                        <b th:text="${info.producerName}"></b>
                                    </p>
                                    <p class="card-text text-black bg-light shadow-sm py-2 px-2">
                                        <!-- 나라 -->
                                        <i class="fa-solid fa-map my-2 mx-2 fa-fw" style="color: crimson;"></i>
                                        <b th:text="${info.country.country}"></b>
                                    </p>
                                    <p class="card-text text-black bg-light shadow-sm py-2 px-2">
                                        <!-- 위치 -->
                                        <i class="fa-solid h5 fa-location-dot my-2 mx-2 fa-fw"
                                            style="color: crimson;"></i>
                                        <b th:text="${info.region}"></b>
                                        <i th:if="${info.subRegion != ''}" class="fa-solid fa-angle-right fa-fw fa-lg"
                                            style="color: crimson;"></i>
                                        <b th:text="${info.subRegion}"></b>
                                    </p>
                                    <p class="card-text text-black bg-light shadow-sm py-2 px-2">
                                        <!-- 종류 -->
                                        <i class="fa-solid h5 fa-wine-bottle my-2 mx-2 fa-fw"
                                            style="color: chocolate"></i>
                                        <b th:text="${info.colour}"></b>
                                        <i th:if="${!#strings.contains(info.subType,'Still')}"
                                            class="fa-solid fa-angle-right fa-fw fa-lg" style="color: crimson;"></i>
                                        <b th:if="${!#strings.contains(info.subType,'Still')}"
                                            th:text="${info.subType}"></b>
                                        <i th:if="${info.designation != '' && info.designation != NULL}"
                                            class="fa-solid fa-angle-right fa-fw fa-lg" style="color: crimson;"></i>
                                        <b th:if="${info.designation != ''}" th:text="${info.designation}"></b>
                                        <i th:if="${info.classification != '' && info.classification != NULL}"
                                            class="fa-solid fa-angle-right fa-fw fa-lg" style="color: crimson;"></i>
                                        <b th:text="${info.classification}"></b>
                                    </p>
                                    <p class="card-text text-black bg-light shadow-sm py-2 px-2">
                                        <!-- 포도 -->
                                        <i class="fa-solid h5 fa-wine-glass my-2 mx-2 fa-fw"
                                            style="color: blueviolet"></i>
                                        <b th:text="${info.grapeList}"></b>
                                    </p>
                                    <p class="card-text text-black bg-light shadow-sm py-2 px-2">
                                        <!-- 도수 -->
                                        <i class="fa-solid h5 fa-droplet my-2 mx-2 fa-fw"
                                            style="color: cornflowerblue"></i>
                                        <b th:text="${info.alcohol}"></b>
                                    </p>
                                    <p class="card-text"></p>
                                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                ago</small></p> -->
                                </div>
                            </div>
                        </div>
                        <div class="card box-shadow shadow-lg mx-auto my-4 bg-white col-md-7">
                            <div class="card">
                                <div class="card-body">
                                    <!-- 타이틀 -->
                                    <div class="form-group">
                                        <label for="tastingTitle">제목</label>
                                        <input type="text" class="form-control" id="tastingTitle"
                                            placeholder="제목을 입력해 주세요">
                                    </div>
                                    <!-- 한줄평 -->
                                    <div class="form-group mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">한줄평</label>
                                        <textarea class="form-control" id="tastingContents" rows="6"></textarea>
                                    </div>
                                    <!-- 세부 내용 -->
                                    <div class="row g-0">
                                        <div class="col-md-6 mt-4">
                                            <div class="form-group">
                                                <label for="tastingVintage">빈티지</label>
                                                <small class="text-muted">Ex) 2021 ( 숫자만 입력 가능 )</small>
                                                <input type="text" class="form-control" id="tastingVintage">
                                            </div>
                                            <div class="form-group">
                                                <label for="tastingAlcohol">알콜 도수</label>
                                                <small class="text-muted">Ex) 15 ( 숫자만 입력 가능 )</small>
                                                <input type="text" class="form-control" id="tastingAlcohol">
                                            </div>
                                            <div class="form-group">
                                                <label for="tastingPrice">구매 가격</label>
                                                <small class="text-muted">Ex) 15000 ( 숫자만 입력 가능 )</small>
                                                <input type="text" id="tastingPrice" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-text px-0 text-center">
                                                <div class="starPoint py-2 px-2">
                                                    <h5 class="card-title text-dark">산도</h5>
                                                    <th:block th:each="num: ${#numbers.sequence(5,1)}">
                                                        <input type="radio" name="acidityEat" th:value="${num}"
                                                            th:id="'acidityEat' + ${num}"><label th:for="'acidityEat' + ${num}">⭐</label>
                                                    </th:block>
                                                </div>
                                            </div>
                                            <div class="card-text px-0 text-center">
                                                <div class="starPoint py-2 px-2">
                                                    <h5 class="card-title text-dark">바디</h5>
                                                    <th:block th:each="num: ${#numbers.sequence(5,1)}">
                                                        <input type="radio" name="bodyEat" th:value="${num}"
                                                            th:id="'bodyEat' + ${num}"><label th:for="'bodyEat' + ${num}">⭐</label>
                                                    </th:block>
                                                </div>
                                            </div>
                                            <div class="card-text px-0 text-center">
                                                <div class="starPoint py-2 px-2">
                                                    <h5 class="card-title text-dark">당도</h5>
                                                    <th:block th:each="num: ${#numbers.sequence(5,1)}">
                                                        <input type="radio" name="sugarEat" th:value="${num}"
                                                            th:id="'sugarEat' + ${num}"><label th:for="'sugarEat' + ${num}">⭐</label>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 최종 포인트 -->
                                <div class="card-text bg-light shadow-sm text-center py-2">
                                    <h5 class="shadow-sm py-2">나의 점수</h5>
                                    <div class="form-group mb-3 mx-4 my-4">
                                        <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                            id="userTotalRagneValue">
                                    </div>
                                    <h5 id="totalCountValue">0 / 100</h5>
                                    <div id="starPointIcon">
                                        <th:block th:each="num: ${#numbers.sequence(5,1)}">
                                            <i style="color: #dc3545" class="bi bi-star fa-2x"></i>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <button id="tastingBtnSumbit" class="btn btn-xl btn-primary m-md-3">작성 하기</button>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </body>
    <script th:inline="javascript" type="module">
        import { tastingPostSubmitContents } from '/js/module.js';
        tastingPostSubmitContents("POST",0)
    </script>
</th:block>

</html>