<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title>와린이</title>
    <link rel="stylesheet" href="/assets/css/pages/wineboard.css">
</head>
<th:block layout:fragment="content">
    <div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/images/bg/anchill.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>앤칠</h5>
                        <p>선유도, 최고의 바 <br> - IN PINOT VERITAS - </p>
                    </div>

                </div>
                <div class="carousel-item">
                    <img src="/assets/images/bg/anchill.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>앤칠</h5>
                        <p>선유도, 최고의 바<br> - IN PINOT VERITAS - </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>

    <!-- 공지 글 시작-->
    <div class="page-heading mt-4">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>오늘의 와인</h3>
                    <th:block sec:authorize="isAuthenticated()">
                        <p class="text-subtitle text-muted">칠레</p>
                    </th:block>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="row-auto">
                <div class="col-auto">
                    <div class="card">
                        <div class="card-header bg-light shadow-sm text-center pb-0">
                            <h3>Notice</h3>
                        </div>
                        <div class="table-hover">
                            <table class="table table-hover">
                                <thead id="headTasting">
                                </thead>
                                <tbody id="userTastingTableBody" style="font-size: 14px;">
                                    <tr>
                                        <td>
                                            <div class="row justify-content-md-center align-self-center">
                                                <b class="col-md-2"><i class="fa-solid fa-book me-1"></i>1</b>
                                                <span class="col-md-8 font-bold mb-0">금주 최고의 베스트 와인은 이런 와인이 아닐까?</span>
                                                <span class="col-auto text-center mb-0">2022-02-21</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row justify-content-md-center align-self-center">
                                                <b class="col-md-2"><i class="fa-solid fa-book me-1"></i>1</b>
                                                <span class="col-md-8 font-bold mb-0">금주 최고의 베스트 와인은 이런 와인이 아닐까?</span>
                                                <span class="col-auto text-center mb-0">2022-02-21</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row justify-content-md-center align-self-center">
                                                <b class="col-md-2"><i class="fa-solid fa-book me-1"></i>1</b>
                                                <span class="col-md-8 font-bold mb-0">금주 최고의 베스트 와인은 이런 와인이 아닐까?</span>
                                                <span class="col-auto text-center mb-0">2022-02-21</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 공지글 끝 -->

        <!-- 갤러리 시작 -->
        <section class="section" id="mainBestGallery">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="background-color: #e8f2ff;">
                        <div class="card-header main">
                            <h4 class="card-title h3">와린이 인기 노트</h4>
                        </div>
                        <div class="row justify-content-center">
                            <div class="card box-shadow mx-1 my-3 text-center" style="width: 9em; height: 17em;"
                                th:each="best : ${bestList}">
                                <div th:data-postNum="${best.postId}">
                                    <img th:src="${best.wineImageUrl}" class="card-img-top" alt="...">
                                    <th:block th:with="score=${best.score}">
                                        <div class="row">
                                            <div class="card-content px-1 py-1">
                                                <span class="font-bold" style='color: #2b68e3; font-size:12px;'
                                                    th:text="${score} +' / 100'"></span>
                                                <div>
                                                    <th:block th:each="starScore : ${#numbers.sequence(1,5)}">
                                                        <i style='color: #4249a9'
                                                            th:class="'bi ' + (${score / 20 >= starScore} ? 'bi-star-fill' : (${(score % 20 != 0) && ((score / 20)+1) ==  starScore} ? 'bi-star-half' : bi-star))+ ' fs-9'"></i>
                                                    </th:block>
                                                    <div class="card-text h6 small"
                                                        th:text="${#strings.length(best.title) > 20} ? ${#strings.substring(best.title,0,20)} + ... : ${best.title}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="position-absolute bottom-0 mb-2">
                                                <div class="user-img align-items-center">
                                                    <div class="avatar avatar bg-primary">
                                                        <img th:src="${#strings.defaultString(best.userProfileImgUrl,'/assets/images/faces/default.jpg')}"
                                                            alt="mdo" width="32" height="32" class="rounded-circle">
                                                    </div>
                                                </div>
                                                <span class="h6" style="font-size:12px;" th:text="${best.userId}"> </span>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 갤러리 끝 -->
    </div>
    <script th:inline="javascript" type="module">
        import { mainBestPostList } from '/js/module.js';
        mainBestPostList()
    </script>
</th:block>

</html>