<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/user-default">

<head>
    <title>와린이 - 로그인</title>

</head>
<th:block layout:fragment="content">
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="/"><img src="/assets/images/logo/logo.png" alt="Logo"></a>
                </div>
                <h1 class="auth-title">Log in.</h1>
                <!-- <p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p> -->
                <form th:action="@{/account/login}" method="post" th:object="${user}">
                    <div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" autocomplete="off" class="form-control form-control-xl"
                                placeholder="Username" th:field="*{username}">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" autocomplete="off" class="form-control form-control-xl"
                                placeholder="Password" th:field="*{password}" th:errorclass="field-error">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <div class="form-check form-check-lg d-flex align-items-end">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-gray-600" for="flexCheckDefault">
                                Keep me logged in
                            </label>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <span class="login-error-msg"><th:block th:text="${ad}"></th:block></span>
                        </div>
                        <button class="btn btn-primary btn-block btn-lg shadow-lg mt-2">Log in</button>
                    </div>
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class="text-gray-600">Don't have an account? <a href="auth-register.html" class="font-bold">Sign
                            up</a>.</p>
                    <p><a class="font-bold" href="auth-forgot-password.html">Forgot password?</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">

            </div>
        </div>
    </div>
</th:block>

</html>