<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default-winelist}">

<head>
    <title>리스트</title>
    <link rel="stylesheet" href="/assets/css/pages/wineboard.css">
</head>


<th:block layout:fragment="content">
    <section id="content-types">
        <div class="container py-2">
            <span class="position-absolute top-50 start-50 translate-middle" style="z-index: 999;">
                <img src="assets/vendors/svg-loaders/oval.svg" class="d-none" style="width: 6rem" alt="audio"
                    id="lodingImg">
            </span>
            <div class="row justify-content-center" id="mainContentChangeDiv">
            </div>
            <section class="section">
                <div class="card">
                    <div id="wineSearchMsg">
                        <div id="searchMsgBodyCard">
                        </div>
                    </div>
                </div>
            </section>
    </section>
    <!-- Nav -->
    <nav id="wineListPageList" aria-label="Page navigation" class="my-4">
    </nav>
    <script th:inline="javascript" type="module">
        import { SearchInfoController } from '/js/module.js';
        SearchInfoController()
    </script>
</th:block>

</html>