<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title>상세 정보</title>
</head>


<th:block layout:fragment="content">
    <section id="content-types">
        <div class="container py-2">
            <div class="row justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div th:with="info=${wineInfo}">
                                <div class="row g-0">
                                    <div class="card box-shadow shadow-lg mx-auto my-4 bg-light" style="width: 23rem;">
                                        <img src="/assets/images/samples/krug.jpg" class="card-img-top" alt="...">
                                        <th:block th:with="score=${info.averageScore}">
                                            <div class="card-body bg-white card-img-bottom">
                                                <div class="card-text bg-light shadow-sm text-center py-2">
                                                    <h5 class="shadow-sm py-2">종합 포인트</h5>
                                                    <h6 style='color: #dc3545' th:text="${score} +' / 100'"></h6>
                                                    <th:block th:each="starScore : ${#numbers.sequence(1,5)}">
                                                        <i style='color: #dc3545'
                                                            th:class="'bi ' + (${score / 20 >= starScore} ? 'bi-star-fill' : (${(score % 20 != 0) && ((score / 20)+1) ==  starScore} ? 'bi-star-half' : bi-star))+ ' fs-5'"></i>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <div class="card box-shadow shadow-lg mx-auto my-4 bg-white col-md-7">
                                        <div class="card-body">
                                            <!-- 타이틀 -->
                                            <h2 class="card-title-3 text-dark" th:text="${info.displayName}">Card
                                                title</h2>
                                            <h5 class="card-sub-title" th:text="${info.displayNameKo}">Card title
                                            </h5>
                                            <hr>
                                            <p class="card-text text-black h6 bg-light shadow-sm py-2 px-2">
                                                <!-- 생산자 -->
                                                <i class="fa-solid fa-house h5 my-2 mx-2 fa-fw"
                                                    style="color: forestgreen;"></i>
                                                <b th:text="${info.producerName}"></b>
                                            </p>
                                            <p class="card-text text-black h6 bg-light shadow-sm py-2 px-2">
                                                <!-- 나라 -->
                                                <i class="fa-solid fa-map h5 my-2 mx-2 fa-fw"
                                                    style="color: crimson;"></i>
                                                <b th:text="${info.country.country}"></b>
                                            </p>
                                            <p class="card-text text-black h6 bg-light shadow-sm py-2 px-2">
                                                <!-- 위치 -->
                                                <i class="fa-solid h5 fa-location-dot my-2 mx-2 fa-fw"
                                                    style="color: crimson;"></i>
                                                <b th:text="${info.region}"></b>
                                                <i th:if="${info.subRegion != ''}"
                                                    class="fa-solid fa-angle-right fa-fw fa-lg"
                                                    style="color: crimson;"></i>
                                                <b th:text="${info.subRegion}"></b>
                                            </p>
                                            <p class="card-text text-black h6 bg-light shadow-sm py-2 px-2">
                                                <!-- 종류 -->
                                                <i class="fa-solid h5 fa-wine-bottle my-2 mx-2 fa-fw"
                                                    style="color: chocolate"></i>
                                                <b th:text="${info.colour}"></b>
                                                <i th:if="${!#strings.contains(info.subType,'Still')}"
                                                    class="fa-solid fa-angle-right fa-fw fa-lg"
                                                    style="color: crimson;"></i>
                                                <b th:if="${!#strings.contains(info.subType,'Still')}"
                                                    th:text="${info.subType}"></b>
                                                <i th:if="${info.designation != '' && info.designation != NULL}"
                                                    class="fa-solid fa-angle-right fa-fw fa-lg"
                                                    style="color: crimson;"></i>
                                                <b th:if="${info.designation != ''}" th:text="${info.designation}"></b>
                                                <i th:if="${info.classification != '' && info.classification != NULL}"
                                                    class="fa-solid fa-angle-right fa-fw fa-lg"
                                                    style="color: crimson;"></i>
                                                <b th:text="${info.classification}"></b>
                                            </p>
                                            <p class="card-text text-black h6 bg-light shadow-sm py-2 px-2">
                                                <!-- 포도 -->
                                                <i class="fa-solid h5 fa-wine-glass my-2 mx-2 fa-fw"
                                                    style="color: blueviolet"></i>
                                                <b th:text="${info.grapeList}"></b>
                                            </p>
                                            <p class="card-text text-black h6 bg-light shadow-sm py-2 px-2">
                                                <!-- 도수 -->
                                                <i class="fa-solid h5 fa-droplet my-2 mx-2 fa-fw"
                                                    style="color: cornflowerblue"></i>
                                                <b th:text="${info.alcohol}"></b>
                                            </p>
                                            <p class="card-text" th:text="${info.contents}">contents</p>
                                            <div class="row justify-content-center mb-3">
                                                <th:block sec:authorize="isAuthenticated()" th:with="auth=${userinfo}">
                                                    <button id="tastingGoSumbit"
                                                        class="btn btn-primary col-5 mx-1 my-1">노트 작성</button>
                                                </th:block>
                                                <a th:href="${#strings.defaultString(backLink,'/wine?query='+wineInfo.displayName+'&page='+thisPage)}"
                                                    class="btn btn-primary col-5 mx-1 my-1">목록</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-auto">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-header bg-light shadow-sm text-center pb-0">
                                        <h3>Tasting Note</h3>
                                        <p>클릭시 상세보기 가능</p>
                                    </div>
                                    <div class="table-hover m-1">
                                        <table class="table table-hover">
                                            <thead id="headTasting">
                                            </thead>
                                            <tbody id="userTastingTableBody" style="font-size: 14px;">
                                            </tbody>
                                        </table>
                                        <nav id="wineInfoPagelistNavBar" aria-label="Page navigation example">
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <script th:inline="javascript" type="module">
        import { postListWineTasting } from '/js/module.js';
        postListWineTasting([[${tastingPage}]] ,[[${ wineInfo.wineId }]])
        if ([[${ userinfo }]]) {
            const itemDivList = document.getElementById("tastingGoSumbit").addEventListener("click", () => {
                location.href = "/post/" + [[${ wineInfo.wineId }]]
            })
        }
        
    </script>
    
</th:block>

</html>