<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title>리스트</title>
</head>

<th:block layout:fragment="content">

    <section id="content-types">
        <div class="row">
            <th:block th:each="data, mainIndex : ${wineList}">
                <div th:if="${mainIndex.count} % 3 == 0" class="col-xl-4 col-md-6 col-sm-12">
                    <th:block th:each="data, index : ${wineList}">
                        <div th:if="${mainIndex.count >= index.count && index.count+3 > mainIndex.count}" class="card">
                            <div class="card-content">
                                <img src="/assets/images/samples/motorcycle.jpg" class="card-img-top img-fluid"
                                    alt="singleminded">
                                <th:block th:with="score=${data.averageScore}">
                                    <div class="card-body text-center">
                                        <h5 class="card-title" th:text="${data.displayName}"></h5>
                                        <h6 style='color: #2b68e3' th:text="${score} +' / 100'"></h6>
                                        <div>
                                            <th:block th:each="starScore : ${#numbers.sequence(1,5)}">
                                                <!-- 별처리 해야댐 .-->
                                                <i style='color: #4249a9' th:class="'bi ' + (${score / 20 >= starScore} ? 'bi-star-fill' : (${(score % 20 != 0) && ((score / 20)+1) ==  starScore} ? 'bi-star-half' : bi-star))+ ' fs-5'"></i>
                                            </th:block>
                                        </div>
                                        <p class="card-text">
                                            매혹적인 와인
                                        </p>
                                    </div>
                                </th:block>
                            </div>
                            <button class="btn btn-lg btn-danger">상세 정보</button>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </section>
    <!-- Nav -->
    <nav aria-label="Page navigation example" th:with="startPage=${((wineList.pageable.pageNumber) / 5) * 5+1}
    ,lastPage=${startPage + 5-1}
    ,maxPage=${lastPage > wineList.totalPages} ? ${wineList.totalPages} : ${lastPage}">
        <ul class="pagination pagination-danger justify-content-center">
            <li th:if="${startPage != 1}" class="page-item"><a class="page-link" th:href="@{/wine(attr=${search.attr},type=${search.type},query=${search.query},page=${startPage-1})}">
                    <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                </a></li>
            
            <th:block th:if="${wineList.totalElements != 0}" th:each="PagesNum : ${#numbers.sequence(startPage,maxPage)}">
                <li class="page-item" th:classappend="${PagesNum == wineList.pageable.pageNumber+1} ? 'active' : ''"><a
                        class="page-link" th:href="@{/wine(attr=${search.attr},type=${search.type},query=${search.query},page=${PagesNum})}" th:text="${PagesNum}"></a></li>
            </th:block>
            <li th:if="${maxPage == lastPage}" class="page-item"><a class="page-link"
                    th:href="@{/wine(attr=${search.attr},type=${search.type},query=${search.query},page=${maxPage+1})}">
                    <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                </a></li>
        </ul>
    </nav>
    <!-- Basic Card types section end -->
</th:block>


</html>