<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title>리스트</title>
</head>


<th:block layout:fragment="content">
    <section id="content-types">
        <div class="container py-2">
            <div class="row justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card mb-3 shadow-lg p-1 mb-2 bg-transparent border border-2 rounded-3">
                                <div class="row g-0">
                                    <div class="col-md-5">
                                        <img src="/assets/images/samples/krug.jpg" class="img-fluid shadow-sm p-2 bg-white rounded rounded-3"
                                            alt="..." width="385" height="385">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h2 class="card-title-3">Card title</h3>
                                            <h5 class="card-sub-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">col-sm</div>
                            <div class="col-sm">col-sm</div>
                            <div class="col-sm">col-sm</div>
                        </div>
                    </div>
                </div>
    </section>
</th:block>

</html>